* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  background: url('../img/layered-peaks-haikei.svg');
  background-size: cover;
  background-position: center;
  
  min-height: 100vh;
  text-align: center;
}

